* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

header .logo a, h1, h2, h3, h4 {
    font-family: 'Poiret One', cursive;
}

h3 {
    display: block;
}

header li, main li {
    list-style: none;
}

img {
    box-shadow: 0 1px 3px rgba(0,0,0,.32);
}

main .contacto input[type=submit],
footer {
    background: #0c3540;
}

/* ------------------------------------------- Estilos del header -------------------------------------------*/
header {
    height: 100vh;
    margin-bottom: 20px;
    background: url(https://images6.alphacoders.com/423/423907.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

header a, header span,
main section article h3 a {
    text-decoration: none;
    color: #fff;
    transition: all .5s ease;
}

header .logo-menu {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 20;
    background: rgba(12, 18, 33, 0.9);
}

header .logo-menu .burger-icon {
    font-size: 28px;
    display: none;
    cursor: pointer;
    padding: 2px;
}

header .logo a {
    font-size: 44px;
    font-family: 'Poiret One', cursive;
}

header .logo a span {
    color: #78e0f7;
}

header nav .menu {
    display: flex;
    justify-content: flex-end;
}

header nav .menu a {
    font-size: 14px;
    padding: 22px 20px;
    text-transform: uppercase;
}

header nav .menu a:hover {
    color: #78e0f7;
    box-shadow: 0 -3px 0px #78e0f7 inset;
}

header .presentation {
    align-self: center;
    width: 100%;
    text-align: center;
}

header .presentation h1 {
    font-size: 48px;
    color: #fff;
}

/* ------------------------------------------- Estilos del main -------------------------------------------*/
main {
    color: #444;
    font-weight: 300;
    overflow-x: hidden;
    max-width: 100%;
}

main section {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
}

header h1,
main .servicios h2 {
    color: #f2f2f2;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

main section:nth-child(even) {
    background: #ebeff2;
}

main section.servicios {
    background: url(https://wallpaperscraft.com/image/fish_yellow_underwater_seaweed_96515_1920x1080.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main section h2 {
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 25px;
}

main section p {
    line-height: 1.9em;
}

main .acerca_de p {
    margin: 10px 0 20px 0;
}

main .acerca_de .img-cont {
    margin-top: 40px;
}

main .acerca_de img {
    width: 100%;
}

main .services {
    background: #fff;
    margin: 0 20px;
    padding: 60px;
}

main .services .service-item {
    display: flex;
    text-align: justify;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 40px;
}

main .services .service-item i {
    font-size: 54px;
    margin-right: 25px;
}

main section .peces .pez-item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    height: 300px;
    color: #fff;
}

main section .peces .pez-item:hover .pez-item-info {
    opacity: 1;
}

main section .peces .pez-item img {
    width: 100%;
    height: 100%;
}

main section .peces .pez-item-info {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    transition: all .4s ease;
}

main section .peces .pez-item-info h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

main section .peces .pez-item-info p {
    width: 80%;
    line-height: 1.6em;
}

main .galeria .galeria-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
}

main .galeria img {
    width: 100%;
}

main .galeria .row:nth-child(even) .galeria-item:first-child img {
    height: 100%;
}

main .galeria .row:nth-child(odd) .galeria-item:last-child img {
    height: 100%;
}

main .galeria .galeria-item a {
    height: 100%;
}

main .noticias article {
    text-align: justify;
    margin-bottom: 20px;
    padding: 5px;
}

main .noticias article .wrap {
    padding: 15px;
    border-radius: 2px;
    transition: all .3s ease;
}

main .noticias article .wrap:hover {
    background: #ebeff2;
    transform: translateY(-5%);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,.2);
}

main .noticias article h3 {
    margin: 10px 0;
}

main .noticias article h3 a {
    text-decoration: none;
    color: #444;
}

main .noticias article h3 a:hover {
    color: #217aa1;
}

main .noticias article p {
    line-height: 1.5em;
}

main .noticias article img {
    width: 100%;
}

main section .equipo li {
    margin-bottom: 20px;
    padding: 20px;
}

main section .equipo img {
    border-radius: 50%;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

main .contacto h2 {
    margin-bottom: 80px;
}

main .contacto form label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

main .contacto form label,
main .contacto form input[type=submit] {
    text-transform: uppercase;
}

main .contacto form input[type=submit] {
    padding: 15px 25px;
    background: #0c3540;
    border: none;
    color: #fff;
    float: right;
}

main .contacto form input[type=text],
main .contacto form input[type=email],
main .contacto form textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

main section:last-child {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    position: relative;
}

main section:last-child h3 {
    margin-bottom: 20px;
}

main section:last-child i {
    font-size: 48px;
    color: #0c3540;
}

main section:last-child .direccion {
    padding-top: 6em;
    padding-bottom: 6em;
}

main section:last-child .mapa-cont {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
}

main section #map {
    height: 100%;
}

footer p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

/*--------------------------------------------- Responsive design ---------------------------------------------*/
@media screen and (max-width: 991px) {
    /*---------- Algunos estilos del header ----------*/
    header .logo-menu {
        padding-top: 0;
        height: 60px;
        line-height: 60px;
    }

    header .logo-menu .burger-icon {
        display: inline-block;
    }

    header nav {
        display: none;
        background: rgba(12, 18, 33, 0.97);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    header nav .menu {
        flex-direction: column;
        line-height: 25px;
    }

    header nav .menu a {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgba(196, 196, 196, 0.18);
    }

    /*---------- Algunos estilos del main ----------*/
    main .services {
        margin: 0;
        padding: 20px 0;
    }

    main .services .service-item {
        flex-direction: column;
        margin-bottom: 60px;
        padding: 0 20px;
    }

    main section:last-child .mapa-cont {
        position: static;
        height: 70vh;
    }

    main section .equipo img {
        height: 180px;
    }
}
